[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
graphics = {file = "http://bit.ly/csc161graphics"}

[requires]
python_version = "3.6"
